<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Dashboard</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        body {
            background-color: #cbeff1;
        }

        .nav {
            padding: 10px;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #006A71;
            color: white;
            position: sticky;
            z-index: 1;
            top: 0px;
        }

        .nav img {
            margin-top: 4px;
            border-radius: 5px;
            
        }
        .nav .logout{
            position: absolute;
            right: 5vw;
            top: 1vh;
            border: 3px solid #ffffff;
            padding: 5px;
            border-radius: 10px;
        }

        .profile-container {
            display: flex;
            /* justify-content: center; */
            align-items: center;
            height: 25vh;
            width: 100vw;
            border: 2px solid black;
        }

        .profile {
            padding: 10px;
            display: flex;
            /* border: 2px solid red; */
            border-radius: 8px;
            background-color: rgb(204, 225, 214);
            border: 3px solid #486467;
            margin: 0 5vw;
            gap: 15px;
        }

        .profile img {
            width: 80px;
            border-radius: 50px;
        }

        .profile .details {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .profile .details .name {
            font-size: 25px;
            font-weight: 600;
        }

        .profile .details .email {
            color: grey;
        }

        .card-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            margin: 10px 0px;
            gap: 10px;
        }

        .card-container h1 {
            text-align: center;
            margin-bottom: 10px;
        }

        .card-container .card {
            margin: 0 5vw;
            padding: 10px;
            width: 80%;
            border: 3px solid #486467;
            border-radius: 10px;
            background: #87c4b5;
background: linear-gradient(90deg, rgba(135, 196, 181, 0.88) 0%, rgba(34, 152, 161, 0.48) 100%);
            box-shadow: 7px 7px 20px 0px #8ca7aa;
        }

        .card-text {
            margin: 20px;
        }

        .card-text h2 {
            margin-bottom: 10px;
        }

        .card-text p {
            font-size: 18px;
        }

        .card-text .time {
            color: rgb(15, 51, 169);
            display: inline-block;
            margin-bottom: 10px;
        }

        .card-container .lawyer,
        .category {
            margin-left: 20px;
            font-size: 19px;
        }
    </style>
</head>

<body>
    <div class="nav">
        <p><img src="assets/logo2.png" alt="" width="120px"></p>
        <a href="/logout" style="text-decoration: none; color: white;"><span class="logout">Log Out</span></a>
    </div>
    <div class="profile-container">
        <div class="profile">
            <div class="profile-image">
                <img src="<%=user.photo%>" alt="">
            </div>
            <div class="details">
                <span class="name">
                    <%= user.name %>
                </span>
                <span class="email">
                    <%= user.username %>
                </span>
            </div>
        </div>
    </div>

    <div class="card-container">
        <h1>Answered Questions</h1>

        <% questions.forEach(question=> { %>
            <div class="card">
                <div class="card-text">
                    <h2>
                        <%=question.question_text%>
                    </h2>
                    <% const d1=question.created_at; const d2=Date.now(); const
                        days=Math.floor(Math.abs((d1-d2)/(60*60*24*1000))); %>
                        <span class="time">posted <%=days %> days ago</span>
                        <% if(question.advice){ %>
                            <p>
                                <%= question.advice.advice_text %>
                            </p>
                        <% } %>
                </div>
                <div class="category">
                    <p> <b>Category:</b>
                        <%=question.category%>
                    </p>
                </div>
                <% if(question.advice){ %>
                    <div class="lawyer">
                        <b>
                            <p>By <%=question.advice.answered_by.name %>
                            </p>
                        </b>
                    </div>
                    <% } %>
            </div>
            <% }); %>
                
    <div class="card-container">
        <h1>Not Answered</h1>

        <% not_answered.forEach(question=> { %>
            <div class="card">
                <div class="card-text">
                    <h2>
                        <%=question.question_text%>
                    </h2>
                    <% const d1=question.created_at; const d2=Date.now(); const
                        days=Math.floor(Math.abs((d1-d2)/(60*60*24*1000))); %>
                        <span class="time">posted <%=days %> days ago</span>
                </div>
                <div class="category">
                    <p> <b>Category:</b>
                        <%=question.category%>
                    </p>
                </div>
            </div>
            <% }); %>

    </div>
</body>

</html>